* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    background-color: #130F1A;
    color: #fff;
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23252B;
    color: #fff;
    text-align: center;
    height: 9vh;

}

.container-header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}

.img-header {
    width: 55px;
    height: 100px;
    border-radius: 50%;
}

menu a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
    transition: 0.4s;
}

menu a:hover {
    background-color: rgba(255, 166, 0, 0.836);
    transition: 0.4s;
    
}

main {
    display: flex;
    margin: auto;
    height: 100%;
    width: 70%;
    flex-direction: column;
    color: #fff;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: #fff;
    height: 70vh;
    margin-top: 8vh;
}

.texto-profile {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

.texto-profile strong {
    color: #ffa600b0;
}

.sobre {
    margin-top: 4%;

}

.sobre > h2 {
    width: 10%; /* Ocupar a largura total do container */
    text-align: center; /* Centralizar o texto horizontalmente */
    border-bottom: 5px solid rgba(255, 166, 0, 0.87);
    margin: auto;
    font-size: 200%;
}


.container-sobre {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    color: #fff;
    height: 70vh;
    margin-top: 10px;
}

.img-sobre {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgba(255, 166, 0, 0.39);
}

.texto-sobre {
    display: block;
    margin-block-start: 0em;
    margin-block-end:0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 60%;
    font-size: 20px;
    margin-right: 200px;
}

.texto-sobre strong {
    color: #ffa600b0;
}

.texto-sobre p {
    margin-bottom: 10px;
}


.habilidades {
    margin-top: 10%;
}

.habilidades h2 {
    width: 20%; 
    text-align: center; 
    border-bottom: 5px solid rgba(255, 166, 0, 0.87);
    margin: auto;
    font-size: 200%;


}

.img-mysql {
    height: 90px;
}

.container-habilidades {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    height: 20vh;
    margin-top: 80px;
    gap: 40px;

}

.img-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #23252B;
    padding: 20px 50px 20px 50px;
    border-radius: 60px 2px 2px 2px;
    border-bottom: 3px solid orange;
    font-weight: bold;
    gap: 10px;
}

.img-yolo {
    height: 90px;
}

#container-yolo {
    padding: 20px 30px 20px 30px;

}

#container-mysql{
    padding: 20px 30px 20px 30px;

}


.projetos h2 {
    width: 20%; 
    text-align: center; 
    border-bottom: 5px solid rgba(255, 166, 0, 0.87);
    margin: auto;
    font-size: 200%;
}

.projetos {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 19%;
}

.img-projetos img {
    height: 300px;

}

.img-projetos img:hover {
    transform: scale(1.05);
    transition: 0.4s;

}


.container-projetos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 80px;
    gap: 50px;
}

.contatos h2 {
    width: 20%; 
    text-align: center; 
    border-bottom: 5px solid rgba(255, 166, 0, 0.87);
    margin: auto;
    font-size: 200%;
}

.contatos {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 19%;
}

.container-contatos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 80px;
}

.img-contatos {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 1.2em;
}

.img-contatos h3 {
    color: rgb(255, 166, 0);
}

footer {
    display: flex;
    height: 80px;
    background-color: #23252B;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin-top: 10%;
}