* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    background-color: #130F1A;
    color: #fff;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23252B;
    color: #fff;
    text-align: center;
    height: 9vh;

}

.container-header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
}

.img-header {
    width: 55px;
    height: 100px;
    border-radius: 50%;
}

menu a {
    text-decoration: none;
    color: #fff;
    font-size: 1 rem;
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
    transition: 0.4s;
}

menu a:hover {
    background-color: rgba(255, 166, 0, 0.836);
    transition: 0.4s;
    
}

main {
    display: flex;
    margin: auto;
    height: 100vh;
    width: 60%;
    flex-direction: column;
    background-color: #130F1A;
    color: #fff;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: #fff;
    height: 70vh;
    margin-top: 8vh;
}

.texto-profile {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

.texto-profile strong {
    color: #ffa600b0;
}

.sobre {
    margin-top: 10%;

}

.sobre > h2 {
    width: 10%; /* Ocupar a largura total do container */
    text-align: center; /* Centralizar o texto horizontalmente */
    border-bottom: 5px solid rgba(255, 166, 0, 0.87);
    margin: auto;
    font-size: 200%;
}


.container-sobre {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    color: #fff;
    height: 70vh;
    margin-top: -20px;
}

.img-sobre {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgba(255, 166, 0, 0.39);
}

.texto-sobre {
    display: block;
    margin-block-start: 0em;
    margin-block-end:0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 60%;
    font-size: 20px;
    margin-right: 200px;
}

.texto-sobre strong {
    color: #ffa600b0;
}

.texto-sobre p {
    margin-bottom: 10px;
}